body {
  background-color: black;
  color: white;
  font: 1.3rem Inconsolata, monospace;
}

.bday {
    color: yellow
}
.green {
    color: green
}
.text {
    color: white
}
.message {
    color: rebeccapurple
}